
<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form  [fromGroup]="myform"
                    (ngSubmit)="onSubmit()">
                        <div class="input-field">
                            <div class="row">
                                <div class="col s12">
                                    <input type="text" name="name" 
                                    [(ngModel)]="name"
                                    placeholder="Ingrese su nombre">    
                                </div>
                                <div class="col s12">
                                    <input type="text" name="last_name"
                                    [(ngModel)]="last_name"
                                    placeholder="Ingrese su apellido">    
                                </div>
                                <div class="col s12">
                                    <input type="text" name="email" 
                                    [(ngModel)]="email"
                                    placeholder="Ingrese su correo electronico">    
                                </div>
                                <div class="col s12">
                                    <input type="text" name="phone" 
                                    [(ngModel)]="phone"
                                    placeholder="Ingrese su numero telefonico">    
                                </div>
                                <div class="col s12">
                                    <input type="text" name="address"   
                                    [(ngModel)]="address"
                                    placeholder="Ingrese su direccion">    
                                </div>
                                <div class="col s12">
                                   <button type="submit">Enviar</button>   
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col s7">

        </div>
    </div>
</div>
